.second-column {
    min-height: 622px;
}

.user-list {
    min-height: 244px,
}

@media only screen and (max-height: 956px) {
    .second-column {
        min-height: 646px;
    }
    
    .user-list {
        min-height: 268px,
    }
}

@media only screen and (max-height: 930px) {
    .second-column {
        min-height: 626px;
    }
    
    .user-list {
        min-height: 248px,
    }
}